<h3 class="login-header">Create Account</h3>
<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="id" type="text" class="validate text-color" >
          		<label for="id">Id</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="Telephone" type="text" class="validate text-color">
	          <label for="Telephone">Telephone</label>
	        </div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="Name" type="text" class="validate text-color">
	          <label for="Name">Name</label>
	        </div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="E-mail" type="email" class="validate text-color">
	          <label for="E-mail">E-mail</label>
	        </div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="Pass" type="password" class="validate text-color">
	          <label for="Pass">Password</label>
	        </div>
		</div>
		
		<div class="row">
			<div class="col m6 s12">
				<button type="submit" class="waves-effect waves-light btn blue">Accept</button>
			</div>
			<div class="col m6 s12 right-align">
				<a href="#/login" class="waves-effect waves-light btn red">Cancel</a>
			</div>
		</div>
	</form>
</div>