<h3 class="login-header">Recover Password</h3>
<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="id_email" type="email" class="validate text-color" >
          		<label for="id_email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="id_npass" type="password" class="validate text-color">
	          <label for="id_npass">New Password</label>
	        </div>
		</div>
		<div class="row">
			<div class="input-field col s12">
	          <input id="id_cpass" type="password" class="validate text-color">
	          <label for="id_cpass">Confirm Password</label>
	        </div>
		</div>
		<div class="row">
			<div class="col m6 s12">
				<button type="submit" class="waves-effect waves-light btn blue">Change Password</button>
			</div>
			<div class="col m6 s12 right-align">
				<a href="#/login" class="waves-effect waves-light btn red">Cancel</a>
			</div>
		</div>
	</form>
</div>